<h1>Approval page!!!</h1>

<body class="col">

  <section ng-repeat="pend in approve.response">

    <div class="contrib">

      <div class="row">

        <img ng-src="{{pend.img1}}"/>

        <p>Word 1: {{pend.word1}}</p>

      </div>

      <div class="row">

        <img ng-src="{{pend.img2}}"/>

        <p>Word 2: {{pend.word2}}</p>

      </div>

    </div>

    <div class="contrib">

      <div class="row">

        <img ng-src="{{pend.img3}}"/>

        <p>Word 3: {{pend.word3}}</p>

      </div>

      <div class="row">

        <img ng-src="{{pend.img4}}"/>

        <p>Word 4: {{pend.word4}}</p>

      </div>

    </div>



<div class="contrib">
<!-- be sure that both buttons clear field -->
  <a ng-click="approve.approvStuff($index)" type="button" class="btn btn-primary">Approve</a>
  <a ng-click="approve.notApprovStuff($index)" type="button" class="btn btn-primary">Don't Approve</a>
</div>

</section>



<!-- create container for pending pages -->

<!-- ng-click on buttons to update status in db -->

  <!-- <ul>
    <li ng-repeat="person in ctrl.people">
      <p>{{person.name}}</p>
    </li>
  </ul> -->
<div class="contrib">
  <a ng-click="approve.getPend()" type="button" class="btn btn-primary">View Pending Submissions</a>
  <a href="/" type="button" class="btn btn-primary">Back to Home</a>
</div>

</body>
