<h1 class="marquee">Contribution page</h1>


    <div class="contrib">
      <div class="col">
        <h1>Instructions</h1>
        <p>Blah blah blah....</p>
      </div>

      <div class="col" ng-init"phinform=true">
        <form name="contribForm" novalidate role="form" ng-model="phinform">

          <div>
            <h1>Contribution Form</h1>
          </div>
          <div id="messages" class="alert alert-success" ng-show="messages" ng-bind="messages"></div>
          <div class="contrib">
            <div class="col">
              <div class="form-group">
                <label for="firstName">First Name:</label>
                <span class="label label-danger" data-ng-show="art.submitted && contribForm.firstName.$error.required">Required!</span>
                <input ng-model="art.firstName" type="text" id="firstName" name="firstName" class="form-control" required/>
              </div>

              <div class="form-group">
                <label for="draw1">Drawing 1:</label>
                <span class="label label-danger" data-ng-show="art.submitted && contribForm.draw1.$error.required">Required!</span>
                <input ng-model="art.draw1" type="text" id="draw1" name="draw1"  class="form-control"/>
              </div>

              <div class="form-group">
                <label for="draw2">Drawing 2:</label>
                <span class="label label-danger" data-ng-show="art.submitted && contribForm.draw2.$error.required">Required!</span>
                <input ng-model="art.draw2" type="text" id="draw2" name="draw2"  class="form-control"/>
              </div>

              <div class="form-group">
                <label for="draw3">Drawing 3:</label>
                <span class="label label-danger" data-ng-show="art.submitted && contribForm.draw3.$error.required">Required!</span>
                <input ng-model="art.draw3" type="text" id="draw3" name="draw3"  class="form-control"/>
              </div>

              <div class="form-group">
                <label for="draw4">Drawing 4:</label>
                <span class="label label-danger" data-ng-show="art.submitted && contribForm.draw4.$error.required">Required!</span>
                <input ng-model="art.draw4" type="text" id="draw4" name="draw4"  class="form-control"/>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label for="lastName">Last Name:</label>
                <span class="label label-danger" data-ng-show="art.submitted && contribForm.lastName.$error.required">Required!</span>
                <input ng-model="art.lastName" type="text" id="lastName" name="lastName" class="form-control" />
              </div>

              <div class="form-group">
                <label for="word1">Word 1:</label>
                <span class="label label-danger" data-ng-show="art.submitted && contribForm.word1.$error.required">Required!</span>
                <input ng-model="art.word1" type="text" id="word1" name="word1"  class="form-control"/>
              </div>

              <div class="form-group">
                <label for="word2">Word 2:</label>
                <span class="label label-danger" data-ng-show="art.submitted && contribForm.word2.$error.required">Required!</span>
                <input ng-model="art.word2" type="text" id="word2" name="word2"  class="form-control"/>
              </div>

              <div class="form-group">
                <label for="word3">Word 3:</label>
                <span class="label label-danger" data-ng-show="art.submitted && contribForm.word3.$error.required">Required!</span>
                <input ng-model="art.word3" type="text" id="word3" name="word3"  class="form-control"/>
              </div>

              <div class="form-group">
                <label for="word4">Word 4:</label>
                <span class="label label-danger" data-ng-show="art.submitted && contribForm.word4.$error.required">Required!</span>
                <input ng-model="art.word4" type="text" id="word4" name="word4"  class="form-control"/>
              </div>
            </div>
          </div>

          <div>
            <a ng-click="art.add(contribForm)" type="submit" class="btn btn-primary">Submit</a>
            <a href="/" type="button" class="btn btn-primary">Back to Home</a>
          </div>
        </form>
      </div>
    </div>
