<div class="col">

  <div>
    <!--add ng-click function to pull random pages WITH APPROVE STATUS and display to story.html-->
    <a ng-click="story.getStory()" href="/storystart" type="button" class="btn btn-primary">Read a Mixed-Up Story!</a>
    <a href="/contrib" type="button" class="btn btn-primary">Add your own pages!</a>
  </div>

  <div class="phin">
    <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/1930680_48295159715_5835_n.jpg?oh=3ec5a3c95941437c4d468c48ff99beb1&oe=588EAFFE" alt="wee-wee" style="width:auto;height:500px;align:middle;">
  </div>

  <footer>
    <a href="/adminlog" type="button" class="btn btn-primary">Admin</a>
  </footer>

</div>
