<div class="">

  <div class="title">
    <p>Phineas' Funny Fables</p>
  </div>

  <div class="contrib">
    <a ng-click="story.getStory()" href="/storystart" type="button" class="btn btn-primary">Read a Mixed-Up Story!</a>
    <img src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/14991790_10154150760964716_1939671491083238822_n.jpg?oh=3d43fa9eed23a5c5ae6604cb4de3befb&oe=58916F53" alt="wee-wee" style="width:auto;height:500px;align:middle;">
    <a href="/contrib" type="button" class="btn btn-primary">Add your own pages!</a>
  </div>

  <footer class="contrib">
    <a href="/adminlog" type="button" class="btn btn-primary">Admin</a>
  </footer>

</div>
