<div>
<h1 style="font-family:Carton Six; font-size:100px; text-align:center;">The End!</h1>


  <div class="contrib">
    <a href="/story4" type="button" ng-model="img" class="btn btn-primary" style="font-size: 25px;">Prev</a>
    <img src="http://media.istockphoto.com/vectors/classic-story-book-cover-vector-id178658028?k=6&m=178658028&s=170667a&w=0&h=jerZchyJmIu_GI2gn8Jf00aCvbfDfu3rMN0UE6I88EA=" alt="wee-wee" style="width:auto;height:500px;align:middle;">
    <a href="/storystart" type="button" ng-model="img" class="btn btn-primary" style="font-size: 25px;">Next</a>
  </div>

  <div class="contrib">
    <a href="/" type="button" class="btn btn-primary">Back to Home</a>
  </div>

</div>
