<div>

  <p class="marquee">...one day, when I took my dog and my {{story.page1[1]}} out for a walk.</p>

  <div class="contrib">
    <a href="/storystart" type="button" class="btn btn-primary" style="font-size: 25px;">Prev</a>
    <img src="{{story.page1[0]}}" alt="page 1 art" style="width:auto;height:500px;align:middle;">
    <a href="/story2" type="button" class="btn btn-primary" style="font-size: 25px;">Next</a>
  </div>

  <div class="contrib">
    <a href="/" type="button" class="btn btn-primary">Back to Home</a>
  </div>

</div>
