<div>

  <h1 class="marquee">...and my dog and I sat down to eat a giant {{story.page4[1]}} to celebrate!</h1>

  <div class="contrib">
    <a href="/story3" type="button" ng-model="img" class="btn btn-primary">Prev</a>
    <img src="{{story.page4[0]}}" alt="page 4 art" style="width:auto;height:500px;align:middle;">
    <a href="/storyend" type="button" ng-model="img" class="btn btn-primary">Next</a>
  </div>

  <div class="contrib">
    <a href="/" type="button" class="btn btn-primary">Back to Home</a>
  </div>

</div>
