<div class="col">

  <h1 class="marquee">Story page 2</h1>

  <div class="phin">
    <!-- add container(s) for images -->
    <img src="{{story.img2}}" alt="page 2 art" style="width:auto;height:500px;align:middle;">
  </div>
    <!-- add ng-click to buttons to scroll through images -->
  <div>

    <a href="/story1" type="button" ng-model="img" class="btn btn-primary">Prev</a>

    <a href="/story3" type="button" ng-model="img" class="btn btn-primary">Next</a>

  </div>

  <div>
    <a href="/" type="button" class="btn btn-primary">Back to Home</a>
  </div>

</div>
