<div class="col">

  <h1 class="marquee">The End</h1>

  <div class="phin">
    <!-- add container(s) for images -->
    <img src="" alt="The End" style="width:auto;height:500px;align:middle;">
  </div>
    <!-- add ng-click to buttons to scroll through images -->
  <div>

    <a href="/story4" type="button" ng-model="img" class="btn btn-primary">Prev</a>

    <a href="/storystart" type="button" ng-model="img" class="btn btn-primary">Next</a>

  </div>

  <div>
    <a href="/" type="button" class="btn btn-primary">Back to Home</a>
  </div>

</div>
