<div class="col">

  <h1 class="marquee">Story page</h1>

  <div class="phin">
    <!-- add container(s) for images -->
    <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/1930680_48295209715_8963_n.jpg?oh=122d5fa7a7cf6e5f83221a3f07bdde3c&oe=588CDCC1" alt="wee-wee" style="width:auto;height:500px;align:middle;">
  </div>
    <!-- add ng-click to buttons to scroll through images -->
  <div>

    <a href="/storyend" type="button" ng-model="img" class="btn btn-primary">Prev</a>

    <a href="/story1" type="button" ng-model="img" class="btn btn-primary">Next</a>

  </div>

  <div>
    <a href="/" type="button" class="btn btn-primary">Back to Home</a>
  </div>

</div>
