<div class="col">

  <h1 class="marquee">To celebrate, we all sat down to eat a giant {{story.page4[1]}}!</h1>

  <div class="phin">
    <img src="{{story.page4[0]}}" alt="page 4 art" style="width:auto;height:500px;align:middle;">
  </div>

  <div>

    <a href="/story3" type="button" ng-model="img" class="btn btn-primary">Prev</a>

    <a href="/storyend" type="button" ng-model="img" class="btn btn-primary">Next</a>

  </div>

  <div>
    <a href="/" type="button" class="btn btn-primary">Back to Home</a>
  </div>

</div>
