<div>

  <h1 class="marquee">Suddenly, a giant {{story.page2[1]}} fell out of the sky!</h1>

  <div class="contrib">
    <a href="/story1" type="button" ng-model="img" class="btn btn-primary">Prev</a>
    <img src="{{story.page2[0]}}" alt="page 2 art" style="width:auto;height:500px;align:middle;">
    <a href="/story3" type="button" ng-model="img" class="btn btn-primary">Next</a>
  </div>

  <div class="contrib">
    <a href="/" type="button" class="btn btn-primary">Back to Home</a>
  </div>

</div>
