<div>

  <p class="marquee">It all started...</p>

  <div class="contrib">
    <a href="/storyend" type="button" ng-model="img" class="btn btn-primary">Prev</a>
    <img src="http://media.istockphoto.com/vectors/classic-story-book-cover-vector-id178658028?k=6&m=178658028&s=170667a&w=0&h=jerZchyJmIu_GI2gn8Jf00aCvbfDfu3rMN0UE6I88EA=" alt="wee-wee" style="width:auto;height:500px;align:middle;">
    <a href="/story1" type="button" ng-model="img" class="btn btn-primary">Next</a>
  </div>
    <!-- add ng-click to buttons to scroll through images -->
  <div>





  </div>

  <div class="contrib">
    <a href="/" type="button" class="btn btn-primary">Back to Home</a>
  </div>

</div>
