body {
  background-color: skyblue;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto 15px auto;
}

.col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 47.5%;
  margin: 15px auto 15px 40px;
}

.col3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  flex-basis: 47.5%;
  margin: 15px auto 15px auto;
}

.col4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  margin: 40px 40px 40px 40px;
}

.title {
  font-family: Carton Six;
  font-size: 75px;
  text-align: center;
  margin: 15px auto 5px auto;
}

.marquee {
  font-family: Carton Six;
  font-size: 45px;
  text-align: center;
  margin: 15px auto 15px auto;
}

.marquee1 {
  font-family: Carton Six;
  font-size: 90px;
  text-align: center;
  margin: 15px auto 15px auto;
}

p {
  text-align: center;
  font-weight: bold;
}

h1 {
  text-align: center;
}

.phin {
  margin: 15px auto 15px auto;
}

.contrib {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;;
  margin: 5px auto 15px auto;
}

.contrib2 {
  display: flex;
  flex-direction: row;
  flex-basis: 47.5%;
  align-items: center;
  justify-content: space-around;;
  margin: 15px auto 15px auto;
}

.contrib3 {
  display: flex;
  flex-direction: row;
  flex-basis: 47.5%;
  align-items: center;
  align-self: center;
  justify-content: space-around;;
  margin: 15px auto 15px auto;
}

.contrib4 {
  display: flex;
  flex-direction: row;
  flex-basis: 47.5%;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  margin: 15px auto 15px auto;
}


.frame {
  width: 100%;
}


.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.row img {
  width: 47.5%;
}
